{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Recipe manager{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<ul>
    <li><a href="{% url 'home' %}">Main</a></li>
    {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'users.create' %}">Sign up</a></li>
    {% else %}
        <li>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        </li>
    {% endif %}
</ul>

{% block content %}

{% endblock %}


</body>
</html>
